#Nombre {
    position:absolute;
    top :21px; 
    left:8px; 
    width :44px;
    height :13px;
    color: rgb(128,128,128); 
    font-size: 12px;
    }
    #ContLogo1 {
    position:absolute;
    top :25px; 
    left:36px; 
    width:50px; 
    height:50px;
    background-color: rgb(64,64,64);
    font-size: 12px;
    }
    #contFondo {
    position:absolute;
    top :330px; 
    left:25px; 
    width:800px; 
    height:100px;
    background-color: rgb(64,64,64);
    font-size: 12px;
}
#contlogo2 {
position:absolute;
top :25px; 
left:88px; 
width:150px; 
height:50px;
background-color: rgb(0,128,128);
font-size: 12px;
}
#cmdIngresar {
position:absolute;
top :100px; 
left:40px; 
width:100px; 
height:25px;
font-size: 12px;
}
#pswClave {
position:absolute;
top :48px; 
left:67px; 
width:100px; 
height:20px;
font-size: 12px;
}
#ContBody {
position:absolute;
top :21px; 
left:23px; 
width:800px; 
height:300px;
background-color: rgb(64,224,208);
font-size: 12px;
}
#JTextField0 {
position:absolute;
top :20px; 
left:65px; 
width:100px; 
height:20px;
font-size: 12px;
}
#passw {
position:absolute;
top :54px; 
left:11px;
width :53px; 
height:13px;
color: rgb(128,128,128); 
font-size: 12px;
}
#contlogin {
position:absolute;
top :110px; 
left:586px; 
width:190px; 
height:150px;
background-color: rgb(47,79,79);
font-size: 12px;
}  